[submodule "module1"]
	path = module1
	url = git@github.com:dsmaugy/cpsc334-module1.git
	branch = main
[submodule "module1-revised"]
	path = module1-revised
	url = git@github.com:dsmaugy/cpsc334-module-revised.git
	branch = main
[submodule "module2"]
	path = module2
	url = git@github.com:dsmaugy/cpsc334-module2.git

[submodule "module3"]
        path = module3
	url = git@github.com:dsmaugy/cpsc334-module3.git
	branch = main
[submodule "module4"]
        path = module4
        url = git@github.com:dsmaugy/cpsc334-module4.git
